<!DOCTYPE html>
<html>
<body>
  <img src="cid:logo123" alt="Bath Riding Club" />
  <p>Hello {{.Name}},</p>
  <p>Reset your password here:</p>
  <p><a href="{{.Link}}">Reset Password</a></p>
</body>
</html>
