Dear {{.FirstName}},

We are excited to introduce the new Bath Riding Club booking app!

To use the app, you will need your membership number: {{.MemberNumber}}.

Attached to this email, you will find a PDF with instructions on how to use the app to book your training sessions.

Best regards,
Bath Riding Club
