Dear {{.FirstName}},

  Just a reminder that payment for your training sessions at {{.Venue}} on {{.TrainingDate}} and {{.Venue2}} on {{.TrainingDate2}} is due.

  Please make BACS payment to secure your spaces:

  Account Name:      BathRC
  Account Number:    {{.AccountNumber}}
  Sort Code:         {{.SortCode}}
  Payment Reference: {{.Reference}}
  Amount:            £{{.Amount}}

  If you’ve already completed the payment, please ignore this email.

Bath Riding Club
