Dear {{.FirstName}},

  Just a reminder that payment for your training session at {{.Venue}} on {{.TrainingDate}} is due.

  Please make BACS payment to secure your space:

  Account Name:      BathRC
  Account Number:    {{.AccountNumber}}
  Sort Code:         {{.SortCode}}
  Payment Reference: {{.Reference}}
  Amount:            £{{.Amount}}

  If you’ve already completed the payment, please ignore this email.

Bath Riding Club
