Dear {{.FirstName}},

  Your request for a training session at {{.Venue}} on {{.TrainingDate}} has been received, but there is a problem.

  {{.Description}}

  We apologize for any inconvenience caused.

Bath Riding Club
