Dear {{.FirstName}},

  Your request for training sessions at {{.Venue}} on {{.TrainingDate}} and {{.Venue2}} on {{.TrainingDate2}} have been received but cannot be accepted as you have already requested at least one of them. Refer to previous emails to complete payment for your sessions and submit new requests for additional sessions as needed.

Bath Riding Club
