Dear {{.FirstName}},

  Your request for a training session at {{.Venue}} on {{.TrainingDate}} has been received.
  {{.EmailText}}
  Secure your space by making BACS payment to:

  Account Name:      BathRC
  Account Number:    {{.AccountNumber}}
  Sort Code:         {{.SortCode}}
  Payment Reference: {{.Reference}}
  Amount:            £{{.Amount}}

Bath Riding Club
