Dear {{.FirstName}},

  Your request for a training session at {{.Venue}} on {{.TrainingDate}} has been received. {{.ExtraText}}

  Please make BACS payment by {{.PayDate}} to secure your space:

  Account Name:      BathRC
  Account Number:    {{.AccountNumber}}
  Sort Code:         {{.SortCode}}
  Payment Reference: {{.Reference}}
  Amount:            £{{.Amount}}

Bath Riding Club
