Dear {{.FirstName}},

  Your request for a training sessions at {{.Venue}} on {{.TrainingDate}} and {{.Venue2}} on {{.TrainingDate2}} have been received. {{.ExtraText}}

  Please make BACS payment by {{.PayDate}} to secure your spaces:

  Account Name:      BathRC
  Account Number:    {{.AccountNumber}}
  Sort Code:         {{.SortCode}}
  Payment Reference: {{.Reference}}
  Amount:            £{{.Amount}}

Bath Riding Club
